<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @device.name %>
</p>

<p>
  <strong>Computer:</strong>
  <%= @device.computer %>
</p>

<p>
  <strong>Address:</strong>
  <%= @device.address %>
</p>

<%= link_to 'Edit', edit_device_path(@device) %> |
<%= link_to 'Back', devices_path %>
